<%= form_with(model: idea2) do |form| %>
  <% if idea2.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(idea2.errors.count, "error") %> prohibited this idea2 from being saved:</h2>

      <ul>
        <% idea2.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :picture, style: "display: block" %>
    <%= form.text_field :picture %>
  </div>

  <div>
    <%= form.label :table, style: "display: block" %>
    <%= form.text_field :table %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
