<div id="<%= dom_id idea2 %>">
  <p>
    <strong>Name:</strong>
    <%= idea2.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea2.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea2.picture %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= idea2.table %>
  </p>

</div>
