<p style="color: green"><%= notice %></p>

<%= render @idea2 %>

<div>
  <%= link_to "Edit this idea2", edit_idea2_path(@idea2) %> |
  <%= link_to "Back to idea2s", idea2s_path %>

  <%= button_to "Destroy this idea2", @idea2, method: :delete %>
</div>
