<div id="<%= dom_id idea6 %>">
  <p>
    <strong>Name:</strong>
    <%= idea6.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea6.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea6.picture %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= idea6.price %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= idea6.table %>
  </p>

  <p>
    <strong>Aaa:</strong>
    <%= idea6.aaa %>
  </p>

  <p>
    <strong>Eee:</strong>
    <%= idea6.eee %>
  </p>

  <p>
    <strong>Kkk:</strong>
    <%= idea6.kkk %>
  </p>

</div>
