<p style="color: green"><%= notice %></p>

<%= render @idea6 %>

<div>
  <%= link_to "Edit this idea6", edit_idea6_path(@idea6) %> |
  <%= link_to "Back to idea6s", idea6s_path %>

  <%= button_to "Destroy this idea6", @idea6, method: :delete %>
</div>
