<div id="<%= dom_id idea5 %>">
  <p>
    <strong>Name:</strong>
    <%= idea5.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea5.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea5.picture %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= idea5.price %>
  </p>

</div>
