<p style="color: green"><%= notice %></p>

<%= render @idea5 %>

<div>
  <%= link_to "Edit this idea5", edit_idea5_path(@idea5) %> |
  <%= link_to "Back to idea5s", idea5s_path %>

  <%= button_to "Destroy this idea5", @idea5, method: :delete %>
</div>
