<div id="<%= dom_id idea3 %>">
  <p>
    <strong>Name:</strong>
    <%= idea3.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea3.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea3.picture %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= idea3.price %>
  </p>

</div>
