<p style="color: green"><%= notice %></p>

<%= render @idea3 %>

<div>
  <%= link_to "Edit this idea3", edit_idea3_path(@idea3) %> |
  <%= link_to "Back to idea3s", idea3s_path %>

  <%= button_to "Destroy this idea3", @idea3, method: :delete %>
</div>
