<div id="<%= dom_id idea4 %>">
  <p>
    <strong>Name:</strong>
    <%= idea4.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea4.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= idea4.picture %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= idea4.price %>
  </p>

</div>
