<p style="color: green"><%= notice %></p>

<%= render @idea4 %>

<div>
  <%= link_to "Edit this idea4", edit_idea4_path(@idea4) %> |
  <%= link_to "Back to idea4s", idea4s_path %>

  <%= button_to "Destroy this idea4", @idea4, method: :delete %>
</div>
